.LogoTD {
	border-top: 2px solid #000000;
	border-right: 2px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 2px solid #000000;
}
.BodyTD {
	border-top: 0px;
	border-right: 2px solid #000000;
	border-bottom: 0px;
	border-left: 2px solid #000000;
	background-color: #FFFFFF;
}
.BottomTD {
	border-top: 0px;
	border-right: 2px solid #000000;
	border-bottom: 2px solid #000000;
	border-left: 2px solid #000000;
}
.LogInTextBox {
	margin: 0px;
	padding: 0px;
	height: 20px;
	width: 100px;
	font-size: 14px;
	text-align: center;
}
.LogInSubmit {
	font-size: 14px;
	height: 22px;
	width: 50px;
	margin: 0px;
	padding: 0px;
}
.MenuLarge {
	background-image: url(Images/MenuLarge.jpg);
	background-position: top;
	height: 34px;
}
.MenuSplit {
	background-image: url(Images/MenuSplit.jpg);
	background-position: top;
}
.MenuSmall {
	background-image: url(Images/MenuSmall.jpg);
	background-position: top;
}
.CopyrightSplit {
	background-image: url(Images/CopyrightSplit.jpg);
	background-position: top;
}
.CopyrightLarge {
	background-image: url(Images/CopyrightLarge.jpg);
	background-position: top;
}
.CopyrightSmall {
	background-image: url(Images/CopyrightSmall.jpg);
	background-position: top;
}
.RegisterTable {
	border: 1px solid #999999;
}
.MainPullDown {
	font-size: 10px;
}
.RegisterVerify {
	border-top: 0px;
	border-right: 0px;
	border-bottom: 1px solid #CCCCCC;
	border-left: 0px;
}
.SidePanels {
	background-color: FCFAE6;
	border: 1px solid #EEEEEE;
}
.HMenuLinks {
	font-size: 12px;
	color: #000000;
	text-decoration: underline;
}
.CartTable {
	border: 1px solid #EDEDED;
}
.TotalTable {
	border: 1px solid #FFEDA9;
}
.IndexHR {
	color: EEEEEE;
	border: 1px EEEEEE;
}
.Personal1 {
	border: 1px solid EDEDED;
}
.Personal2 {
	border-top: 1px solid #000000;
	border-right: 1px solid EDEDED;
	border-bottom: 1px solid EDEDED;
	border-left: 1px solid EDEDED;
}
.Personal3 {
	border: 1px solid CDCDCD;
	background-color: EEEEEE;
}
.PersonalQuantity {
	text-align: center;
}
.purchase {
	width: 100%;
	border: 1px solid EDEDED;
	background-color: EEEEEE;
	text-decoration: underline;
	cursor: hand;
}
.OrderViewPC {
	border: 1px solid CCCCCC;
}